{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
      }
    ],
    "minify",
  ],
  "plugins": [
    "transform-inline-environment-variables",
    "transform-property-literals",
    "minify-type-constructors",
    "minify-constant-folding",
  ],
  "comments": false
}