{
  "presets": [
    [
      "@babel/preset-env",
      {
        "process.env.NODE_ENVs": {
          "node": "6.10"
        },
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": false
        }
      }
    ]
  ]
}